* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;

  &:before,
  &:after,
  &:active {
    box-sizing: border-box;
  }
}

:active {
  outline: none;
}

a:active {
  outline: none;
}

html,
body {
  max-width: 1440px;
  margin: 0 auto;
  // height: 100%;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // padding: 0 15px;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}