.commonButtonStyles {
  width: 150px;
  height: 59px;

  font-size: 32px;
}

.categoryButtonBuy {
  @extend .commonButtonStyles;
  border-radius: 10px;
  border-bottom: 2px solid var(--label);
  padding: 10px 24px;
}

.categoryButtonSell {
  @extend .commonButtonStyles;
  border: none;
  padding: 10px 13px;
}
