.facebookIcon,
.instagramIcon {
  fill: var(--button);
  stroke-width: 1px;
  stroke: var(--input-text);
}

.buttonSubscribe {
  border-radius: 10px;
  padding: 10px 40px;
  width: 178px;
  height: 39px;

  font-size: 16px;
}
