/*.hero {
  padding-top: 112px;
  padding-bottom: 112px;
  background: var(--text-main-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero_mob@1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;
}

@media only screen and (min-width: 1158px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero_mob@2x.jpg);
  }
}

@media only screen and (min-width: 428px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero_tab@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/hero_tab@2x.jpg);
    }
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero_desk@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/hero_desk@2x.jpg);
    }
  }
}
*/
@import "../../styles/mixins";
@import "../../styles/variables";

.bannerLabelContainer {
  position: relative;

  display: inline-block;
}

.bannerIcon {
  fill: #e5ff46;

  @include media-min($breakpoint-tablet) {
    width: 128px;
    height: 82px;
  }
}

.bannerLabel {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  font-weight: 400;
  font-size: 8px;

  @include media-min($breakpoint-tablet) {
    font-size: 24px;
  }
}

.bannerTitle {
  margin-top: 4px;
  font-weight: 200;
  font-size: 13px;

  @include media-min($breakpoint-tablet) {
    margin-top: 17px;

    font-weight: 400;
    font-size: 34px;
  }

  @include media-min($breakpoint-laptop) {
    font-weight: 400;
    font-size: 40px;
  }
}
.bannerAdditionalInfo {
  margin-top: 2px;
  font-weight: 400;
  font-size: 6px;

  @include media-min($breakpoint-tablet) {
    margin-top: 6px;

    font-size: 16px;
  }
}
.bannerPrice {
  margin-top: 5px;
  font-weight: 400;
  font-size: 10px;

  @include media-min($breakpoint-tablet) {
    margin-top: 32px;

    font-size: 24px;
  }
}

.bannerButton {
  border-radius: 3px;
  padding: 4px 10px;
  height: 23px;

  font-weight: 400;
  font-size: 12px;

  @include media-min($breakpoint-tablet) {
    margin-top: 10px;

    border-radius: 10px;
    padding: 16px 40px;
    height: 51px;

    font-size: 16px;
  }
}
